* {
    background-color: purple;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

header {
    padding: 50px;
    margin: 25px;
    color: green;
    height: 95vh;
}

footer {
    background-color: aqua;
}

.list-background {
    color: red;
    box-sizing: content-box;
    border: 1px green;
    border-style: dashed;
}

.header-h1 {
    display: block;
    font-size: 40px;
    letter-spacing: 5px;

    animation-name: moveInLeft;
    animation-duration: 5s;

}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {

    }


    100% {
        opacity: 1;

        transform: translate(0);
    }
}